<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p th:text="${user.getName()}">User</p>
<p th:text="${user.getEmail()}">user@user.ru</p>

<br>
<h3>Appointments</h3>

<div th:each="appointment : ${usersAppointments}">

  <div th:if="${userStatus == 0}">
    <p th:text="${appointment.getDoctor().getName()}">Doctor</p>
  </div>

  <div th:unless="${userStatus == 0}">
    <p th:text="${appointment.getPatient().getName()}">Patient</p>
    <a th:href="@{change/{appointment}(appointment = ${appointment.getId()})}">Change/Add description</a>
  </div>

  <p th:if="${appointment.getDescription() != null}"
     th:text="${appointment.getDescription()}">Time</p>
  <p th:text="${appointment.getTime()}">Time</p>
  <br>
</div>


<form th:if="${userStatus == 0}"
      role="form" id="sendData" th:action="@{/new_appointment}" th:method="get">
  <select name="department">
    <option th:each="department: ${departments}" th:text="${department.getDepartmentName()}"></option>
  </select>
  <input type="submit" value="New appointment"/>
</form>

<a href="/">Back</a>
</body>
</html>